.nav-bare {
  height: 10vh;
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }

  .text{
    text-decoration: none;
    font-size: 30px;
  }
  .nav1{
    color: white;
    font-size: 30px;
    padding-left: 10px;
  }
  .nave {
    list-style: none;
    display: flex;
    gap: 80px;
  }
  .nave {
    color: #f2e9e4;
    padding: 5px 10px;
    font-size: 1.35rem;
    font-weight: 600;
  }
  li:hover {
    border-radius: 4px;
    scale: 108%;
    cursor: pointer;
  }