.footer {
  background-color: rgb(36, 35, 35);
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e9ecef;
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #d3d6d8;
}

.footer-nav {
  margin: 10px 0;
}

.footer-nav a {
  margin: 0 10px;
  color: #f7fbff;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-social {
  margin-top: 10px;
}

.footer-social a {
  margin: 0 10px;
  color: #eff0f1;
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: underline;
}

